* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;

  @media only screen and (max-width: 1500px) {
    font-size: 80%;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 40%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 30%;
  }
}

.container {
  font-family: "Josefin Sans", sans-serif;
  padding: 5rem;
}

/* Home Page */
.home {
  color: #fcf5e5;
  background-color: #26282a;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  width: 90%;
  margin: 0rem auto;
  padding-bottom: 7rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

/* Home Header */
.home-header {
  /* background: orange; */
  padding: 8rem 0rem 0rem 0rem;
  text-align: center;
}

.home-title {
  font-size: 3rem;
  padding: 0.5rem 0rem;
  width: 50rem;
  margin: 0rem auto;
}

.home-title:hover {
  transform: rotate(-5deg);
  color: #26282a;
  background-color: #87ceeb;
}

.home-frontend {
  color: #87ceeb;
}

.home-freecodecamp {
  color: #0a0a23;
}

.home-gerald {
  font-size: 1.5rem;
}

.home-language {
  font-size: 1.5rem;
}

.home-icons {
  font-size: 3rem;
  margin: 0rem 1rem;
}

.home-html {
  color: #e34c26;
}

.home-css {
  color: #264de4;
}

.home-sass {
  color: #cd6799;
}

.home-js {
  color: #f0db4f;
}

/* Home Description */
.home-description {
  /* background: white; */
  font-size: 2.5rem;
  width: 70%;
  padding: 1rem 0rem;
  margin: 4rem auto;
}

/* Home Footer */
.home-footer {
  /* background: #f0db4f; */
}

.home-footer-ul {
  display: flex;
  justify-content: center;
}

.home-footer-li {
  list-style-type: none;
  margin: 0rem 1rem;
}
.home-footer-link {
  text-decoration: none;
}

.home-footer-icon {
  color: #fff;
  font-size: 1.5rem;

  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
}

.home-footer-fem {
  padding: 0.4rem 0.7rem;
  animation: bounceFem 1.5s ease-in-out infinite 1s;
}

.home-footer-fem:hover {
  padding: 0.4rem 0.7rem;
  animation: bounceFem 0s ease-in-out infinite 1s;
  color: #87ceeb;
  border: 2px solid #87ceeb;
  position: relative;
  top: -1rem;
}

.home-footer-git {
  animation: bounceGit 1.5s ease-in-out infinite 2s;
}

.home-footer-git:hover {
  animation: bounceFem 0s ease-in-out infinite 1s;
  color: #6e5494;
  border: 2px solid #6e5494;
  position: relative;
  top: -1rem;
}

.home-footer-fb {
  animation: bounceFb 1.5s ease-in-out infinite 3s;
}

.home-footer-fb:hover {
  animation: bounceFem 0s ease-in-out infinite 1s;
  color: #4267b2;
  border: 2px solid #4267b2;
  position: relative;
  top: -1rem;
}

/* Challenge Page */
.challenge {
  color: #fcf5e5;
  background-color: #26282a;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  width: 90%;
  margin: 0rem auto;
  padding: 10rem 0rem 20rem 0rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.challenge-table {
  border-collapse: collapse;
  max-width: 80%;
  transform: rotate(-3deg);
  margin: 0rem auto;

  @media only screen and (max-width: 600px) {
    max-width: 95%;
  }
}

.challenge-title {
  font-size: 3rem;
  transform: rotate(-10deg);
  text-align: center;
  margin: 5rem auto;
  padding: 1rem 0rem;
  width: 30rem;
}

.challenge-title-newbie {
  color: #6abecd;
}

.challenge-title-newbie:hover {
  background-color: #6abecd;
}

.challenge-title-junior {
  color: #aad742;
}

.challenge-title-junior:hover {
  background-color: #aad742;
}

.challenge-title-intermediate {
  color: #f1b604;
}

.challenge-title-intermediate:hover {
  background-color: #f1b604;
}

.challenge-title:hover {
  color: #26282a;
  padding: 1rem 0rem;
  width: 30rem;
}

.challenge-table-link {
  cursor: pointer;
  text-transform: uppercase;
}

.challenge-table-links {
  color: #fcf5e5;
  text-decoration: none;
}

.challenge-table-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.challenge-table-chlng {
  text-transform: uppercase;
  font-weight: bold;
  width: 40rem;
}

.challenge-huddlesingle {
  color: #9400d3;
}

.challenge-result {
  color: #2e2be9;
}

.challenge-vehicle {
  color: #e28625;
}
.challenge-socpro {
  color: #512051;
}

.challenge-article {
  color: #234f1e;
}

.challenge-fetsec {
  color: #ea5454;
}

.challenge-easybank {
  color: #31d35c;
}

.challenge-chatapp {
  color: #ff80ff;
}

.challenge-clipboard {
  color: #6173ff;
}

.challenge-fylopage {
  color: #585989;
}

.challenge-fylostorage {
  color: #0c122c;
}

.challenge-testi {
  color: #733fc8;
}

td {
  /* border: 5px solid #aad742; */
  padding: 1rem;
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
}

.challenge-junior {
  /* border: 5px solid #6abecd; */
}

.challenge-intermediate {
  /* border: 5px solid #f1b604; */
}

/* Reusable Styles */
.margin-fivepx {
  margin-bottom: 0.5rem;
}

/* Animations */
@keyframes bounceFem {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    color: #87ceeb;
    border: solid 2px #87ceeb;
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
    color: #87ceeb;
    border: solid 2px #87ceeb;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceGit {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    color: #6e5494;
    border: solid 2px #6e5494;
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
    color: #6e5494;
    border: solid 2px #6e5494;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceFb {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    color: #4267b2;
    border: solid 2px #4267b2;
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
    color: #4267b2;
    border: solid 2px #4267b2;
  }
  100% {
    transform: translateY(0);
  }
}

/* Contact */
.contact {
  color: #fcf5e5;
  background-color: #26282a;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  width: 90%;
  margin: 0rem auto;
  padding: 10rem 0rem 5rem 0rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.contact-title {
  font-size: 3.5rem;
  text-align: center;
  transform: rotate(-10deg);
  margin-bottom: 3rem;
}

.contact-form {
  width: 60%;
  margin: 0rem auto;
  padding: 5rem;
}

.contact-input {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  outline: none;
  border: none;
  border-bottom: 3px solid transparent;
  resize: none;
}

.contact-input:focus:invalid:placeholder-shown {
  border-bottom: 3px solid red;
}

.contact-input:focus:valid {
  border-bottom: 3px solid green;
}

.contact-btn {
  padding: 0.5rem 5rem;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  transform: rotate(-5deg);
  border: none;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
