* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;

  @media only screen and (max-width: 1500px) {
    font-size: 80%;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 40%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 30%;
  }
}

body {
  background-color: #f3f3f3;
}

.container {
  font-family: "Josefin Sans", sans-serif;
  padding: 5rem;
}

/* Home */
.home {
  color: #fcf5e5;
  background-color: #26282a;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  width: 90%;
  margin: 0rem auto;
  padding-bottom: 7rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.home-header {
  padding: 8rem 0rem 0rem 0rem;
  text-align: center;
}

.home-title {
  font-size: 3rem;
  padding: 0.5rem 0rem;
  width: 50rem;
  font-weight: lighter;
  margin: 0rem auto;
}

.home-gerald {
  font-weight: lighter;
  font-size: 1.5rem;
}

.home-language {
  font-weight: lighter;
  font-size: 1.5rem;
}

.home-img {
  margin: 0rem 0.5rem;

  @media only screen and (max-width: 600px) {
    width: 5rem;
    height: 5rem;
  }
}

.home-description {
  font-size: 2.5rem;
  width: 80%;
  font-weight: lighter;
  margin: 2rem auto 5rem auto;
}

/* Footer */
.home-footer-ul {
  display: flex;
  justify-content: center;
}

.home-footer-li {
  list-style-type: none;
  margin: 0rem 1rem;
}

.home-footer-link {
  text-decoration: none;
}

.home-footer-icon {
  color: #fcf5e5;
  font-size: 1.5rem;

  border: 1px solid #fcf5e5;
  border-radius: 50%;
  padding: 0.7rem;

  @media only screen and (max-width: 600px) {
    font-size: 100%;
  }
}

.home-footer-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.home-footer-fem {
  padding: 0.6rem 0.9rem;
  animation: bounce 1.5s ease-in-out infinite;

  @media only screen and (max-width: 600px) {
    animation: bounceMobile 1.5s ease-in-out infinite;
  }
}

/* Challenge */
.challenge {
  color: #fcf5e5;
  background-color: #26282a;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  width: 90%;
  margin: 0rem auto;
  padding: 10rem 0rem 20rem 0rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.challenge-table {
  border-collapse: collapse;
  max-width: 80%;
  margin: 0rem auto;

  @media only screen and (max-width: 600px) {
    max-width: 95%;
  }
}

.challenge-title {
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem 0rem;
  width: 30rem;
}

.challenge-table-links {
  font-weight: lighter;
  color: #fcf5e5;
  text-decoration: none;
}

.challenge-table-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.challenge-table-chlng {
  font-weight: lighter;
  text-transform: uppercase;
  width: 40rem;
}

td {
  border: 1px solid;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
}

/* Contact */
.contact {
  color: #fcf5e5;
  background-color: #26282a;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
  width: 90%;
  margin: 0rem auto;
  padding: 2rem 0rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.contact-title {
  font-size: 3.5rem;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form {
  width: 60%;
  margin: 0rem auto;
  padding: 5rem;
}

.contact-input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  outline: none;
  border: none;
  border-bottom: 3px solid;
  resize: none;
}

.contact-input:focus:invalid:placeholder-shown {
  border-bottom: 3px solid #ff585f;
}

.contact-input:focus:valid {
  border-bottom: 3px solid #5ec576;
}

.contact-submit {
  display: flex;
  justify-content: center;
  position: relative;
}

.contact-btn {
  color: #fcf5e5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contact-arrow {
  font-size: 3rem;
  animation: arrow 1.5s ease-in-out infinite;
  position: absolute;
  bottom: 0px;

  @media only screen and (max-width: 600px) {
    animation: arrowMobile 1.5s ease-in-out infinite;
  }
}

/* Reusable */
.margin-fivepx {
  margin-bottom: 0.5rem;
}

/* Animation */
@keyframes arrow {
  from {
    opacity: 0.2;
    translate: 15px;
  }
  to {
    opacity: 1;
    translate: 35px;
  }
}

@keyframes arrowMobile {
  from {
    opacity: 0.2;
    translate: 5px;
  }
  to {
    opacity: 1;
    translate: 15px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    color: #87ceeb;
    border: solid 1px #87ceeb;
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
    color: #87ceeb;
    border: solid 1px #87ceeb;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceMobile {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
    color: #87ceeb;
    border: solid 1px #87ceeb;
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0);
    color: #87ceeb;
    border: solid 1px #87ceeb;
  }
  100% {
    transform: translateY(0);
  }
}
